
.row {
    display: flex;
    width: 100%;
    flex-flow: row;
    flex-direction:row; 
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
}

.col-12 {
    flex-basis: 100%;
    max-width: 100%;
}

.col-6 {
    flex-basis: 50%;
    max-width: 50%;
}

.col-4 {
    flex-basis: 33%;
    max-width: 33%;
}

.col-4 {
    flex-basis: 33%;
    max-width: 33%;
}


.col-1 {
    flex-basis: 8.33%;
    max-width: 8.33%;
}